*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


body {
    min-width: 1401px;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000000;

}

h2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

}
h2:hover {

    color: #44C0FE;

}
h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.primeraparte {
    max-height: 644px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    background-image: url('../img/18.svg');
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 132px;;
}